<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,324},{158,166}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,104},{158,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,168},{156,174}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,100},{156,174}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,588},{160,190}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,82},{160,190}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,392},{162,194}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,79},{162,194}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{162,202}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,71},{162,202}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,800},{168,196}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,77},{168,196}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,606},{174,192}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,73},{174,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,206},{176,184}}</string>
                <key>offset</key>
                <string>{-17,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,81},{176,184}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,416},{178,188}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,77},{178,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{180,194}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,72},{180,194}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,204}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,69},{194,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{180,202}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,71},{180,202}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{180,202}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,71},{180,202}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{188,186}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,79},{188,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,806},{176,194}}</string>
                <key>offset</key>
                <string>{-21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,71},{176,194}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,484},{158,114}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,151},{158,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,192},{154,144}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,122},{154,144}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dark_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,728},{46,64}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,138},{46,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,344},{232,92}}</string>
                <key>offset</key>
                <string>{-15,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,64},{232,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,344},{158,70}}</string>
                <key>offset</key>
                <string>{-10,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,69},{158,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,928},{140,76}}</string>
                <key>offset</key>
                <string>{-14,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,62},{140,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,936},{126,74}}</string>
                <key>offset</key>
                <string>{-12,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,66},{126,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,584},{122,90}}</string>
                <key>offset</key>
                <string>{-13,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,57},{122,90}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,820},{80,74}}</string>
                <key>offset</key>
                <string>{-4,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,66},{80,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,918},{82,86}}</string>
                <key>offset</key>
                <string>{-8,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,63},{82,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{170,164}}</string>
                <key>offset</key>
                <string>{-4,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,25},{170,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,708},{122,110}}</string>
                <key>offset</key>
                <string>{-7,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,44},{122,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,814},{120,108}}</string>
                <key>offset</key>
                <string>{-7,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,52},{120,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,578},{116,124}}</string>
                <key>offset</key>
                <string>{-12,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,53},{116,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,814},{114,112}}</string>
                <key>offset</key>
                <string>{-3,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,64},{114,112}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,702},{122,110}}</string>
                <key>offset</key>
                <string>{-7,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{122,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,794},{122,110}}</string>
                <key>offset</key>
                <string>{-7,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,59},{122,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,600},{118,126}}</string>
                <key>offset</key>
                <string>{-3,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,36},{118,126}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,696},{116,116}}</string>
                <key>offset</key>
                <string>{-12,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,34},{116,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,466},{116,128}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,39},{116,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,348},{116,128}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,112},{116,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,584},{116,116}}</string>
                <key>offset</key>
                <string>{-12,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,189},{116,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{182,166}}</string>
                <key>offset</key>
                <string>{-16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,156},{182,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{182,166}}</string>
                <key>offset</key>
                <string>{-16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,156},{182,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{196,164}}</string>
                <key>offset</key>
                <string>{-17,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,153},{196,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,208},{206,164}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,149},{206,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,170},{186,152}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,150},{186,152}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>light_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{188,116}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,148},{188,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light_dark_attack_packed.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b1580361057ba2361e809a3f610b0fe:03f30895891eb03083112294c63a2cf3:173bb9a24f8c3ddf148b333cbb2fed19$</string>
            <key>textureFileName</key>
            <string>light_dark_attack_packed.png</string>
        </dict>
    </dict>
</plist>
