<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,924},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,776},{308,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,212}}</string>
                <key>sourceSize</key>
                <string>{308,212}</string>
            </dict>
            <key>fenxiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{434,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,312}}</string>
                <key>sourceSize</key>
                <string>{434,312}</string>
            </dict>
            <key>guntiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>loading_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,644},{118,160}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,119},{118,160}}</string>
                <key>sourceSize</key>
                <string>{180,280}</string>
            </dict>
            <key>loading_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1044},{110,190}}</string>
                <key>offset</key>
                <string>{-28,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,89},{110,190}}</string>
                <key>sourceSize</key>
                <string>{180,280}</string>
            </dict>
            <key>loading_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{158,262}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{158,262}}</string>
                <key>sourceSize</key>
                <string>{180,280}</string>
            </dict>
            <key>loading_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,764},{158,278}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{158,278}}</string>
                <key>sourceSize</key>
                <string>{180,280}</string>
            </dict>
            <key>shouchongliangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,858},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,776},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>youjian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,644},{400,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,130}}</string>
                <key>sourceSize</key>
                <string>{400,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alert.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7920359f002b93d0ba77eb3b407ec19b:14cb132ec6e005697228c44494d93169:409bb9d367f15344e3c190507462a607$</string>
            <key>textureFileName</key>
            <string>alert.png</string>
        </dict>
    </dict>
</plist>
