<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baibei_sidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,302},{438,112}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{438,112}}</string>
                <key>sourceSize</key>
                <string>{440,200}</string>
            </dict>
            <key>baibei_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,512},{208,180}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{208,180}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>baojian_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,416},{94,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,300}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>baxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,748},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>combo_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,836},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>daoshu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,704},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>daoshu_xue.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,772},{54,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,12}}</string>
                <key>sourceSize</key>
                <string>{54,12}</string>
            </dict>
            <key>dark_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,842},{138,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,32}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>dark_health_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,850},{100,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,10}}</string>
                <key>sourceSize</key>
                <string>{100,10}</string>
            </dict>
            <key>dark_health_fill_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,512},{192,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,10}}</string>
                <key>sourceSize</key>
                <string>{192,10}</string>
            </dict>
            <key>dark_health_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,512},{230,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,32}}</string>
                <key>sourceSize</key>
                <string>{230,32}</string>
            </dict>
            <key>diaoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,876},{78,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>element_graph.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,636},{76,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,96}}</string>
                <key>sourceSize</key>
                <string>{76,96}</string>
            </dict>
            <key>fire_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,714},{138,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,32}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>fire_health_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,748},{100,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,10}}</string>
                <key>sourceSize</key>
                <string>{100,10}</string>
            </dict>
            <key>fire_health_fill_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,512},{192,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,10}}</string>
                <key>sourceSize</key>
                <string>{192,10}</string>
            </dict>
            <key>fire_health_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{230,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,32}}</string>
                <key>sourceSize</key>
                <string>{230,32}</string>
            </dict>
            <key>health_box.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,30}}</string>
                <key>sourceSize</key>
                <string>{640,30}</string>
            </dict>
            <key>health_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{586,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,15}}</string>
                <key>sourceSize</key>
                <string>{586,15}</string>
            </dict>
            <key>huihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,946},{58,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>jiantou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,952},{74,52}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{74,52}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>jiantou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,636},{66,66}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{66,66}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>jiantou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,984},{58,26}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{58,26}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>jiantou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,876},{106,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{106,26}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>light_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,416},{138,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,32}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>light_health_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,876},{100,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,10}}</string>
                <key>sourceSize</key>
                <string>{100,10}</string>
            </dict>
            <key>light_health_fill_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,512},{192,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,10}}</string>
                <key>sourceSize</key>
                <string>{192,10}</string>
            </dict>
            <key>light_health_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{230,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,32}}</string>
                <key>sourceSize</key>
                <string>{230,32}</string>
            </dict>
            <key>qipan_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,526},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>qipan_shen.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,416},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>round_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{412,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,184}}</string>
                <key>sourceSize</key>
                <string>{412,184}</string>
            </dict>
            <key>shengli_sidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,188},{438,112}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{438,112}}</string>
                <key>sourceSize</key>
                <string>{440,200}</string>
            </dict>
            <key>shengli_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{204,180}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{204,180}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>status_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,876},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>water_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,694},{138,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,32}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>water_health_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,526},{100,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,10}}</string>
                <key>sourceSize</key>
                <string>{100,10}</string>
            </dict>
            <key>water_health_fill_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1012},{192,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,10}}</string>
                <key>sourceSize</key>
                <string>{192,10}</string>
            </dict>
            <key>water_health_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{230,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,32}}</string>
                <key>sourceSize</key>
                <string>{230,32}</string>
            </dict>
            <key>wood_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{138,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,32}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>wood_health_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{100,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,10}}</string>
                <key>sourceSize</key>
                <string>{100,10}</string>
            </dict>
            <key>wood_health_fill_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{192,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,10}}</string>
                <key>sourceSize</key>
                <string>{192,10}</string>
            </dict>
            <key>wood_health_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{230,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,32}}</string>
                <key>sourceSize</key>
                <string>{230,32}</string>
            </dict>
            <key>xingxing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,748},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>xingxing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,556},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleMisc.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad9b09cee60aa7cc04872ef556e6ad39:a3df9331231c2ee8c935fd46064e3f25:297bb93d19f0795b1f4bd54830de411d$</string>
            <key>textureFileName</key>
            <string>battleMisc.png</string>
        </dict>
    </dict>
</plist>
