<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biandui_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,284}}</string>
                <key>sourceSize</key>
                <string>{576,284}</string>
            </dict>
            <key>caidan_1_ty2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{524,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,120}}</string>
                <key>sourceSize</key>
                <string>{524,120}</string>
            </dict>
            <key>guanqiapingfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,290},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>gundongzimu.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{640,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,42}}</string>
                <key>sourceSize</key>
                <string>{640,42}</string>
            </dict>
            <key>huodexiake.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{196,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,54}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>huodexiake_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,893},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>jianbiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{640,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,18}}</string>
                <key>sourceSize</key>
                <string>{640,18}</string>
            </dict>
            <key>jingyan_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,589},{397,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,23}}</string>
                <key>sourceSize</key>
                <string>{397,23}</string>
            </dict>
            <key>kaibaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,290},{148,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,54}}</string>
                <key>sourceSize</key>
                <string>{148,54}</string>
            </dict>
            <key>pingfen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{300,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,164}}</string>
                <key>sourceSize</key>
                <string>{300,164}</string>
            </dict>
            <key>pingfen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,589},{300,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,164}}</string>
                <key>sourceSize</key>
                <string>{300,164}</string>
            </dict>
            <key>pingfen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,290},{300,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,164}}</string>
                <key>sourceSize</key>
                <string>{300,164}</string>
            </dict>
            <key>pingfen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{300,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,164}}</string>
                <key>sourceSize</key>
                <string>{300,164}</string>
            </dict>
            <key>pingfen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{300,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,164}}</string>
                <key>sourceSize</key>
                <string>{300,164}</string>
            </dict>
            <key>qianghua_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{204,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,12}}</string>
                <key>sourceSize</key>
                <string>{204,12}</string>
            </dict>
            <key>shezhi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,646},{60,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,368}}</string>
                <key>sourceSize</key>
                <string>{60,368}</string>
            </dict>
            <key>tab_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,802},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>tab_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,904},{92,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{92,94}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>tab_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,530},{106,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>tab_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,710},{98,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>tab_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,710},{88,100}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>tab_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,812},{94,96}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{94,96}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>tab_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,710},{104,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{104,98}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>tab_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,946},{74,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{74,98}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>tab_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,812},{82,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{82,98}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>tab_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,910},{84,96}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{84,96}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>tab_6_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,893},{108,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{108,88}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>tab_6_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,812},{84,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{84,96}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{640,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,100}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>tili_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,562},{397,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,23}}</string>
                <key>sourceSize</key>
                <string>{397,23}</string>
            </dict>
            <key>yonghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{640,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,142}}</string>
                <key>sourceSize</key>
                <string>{640,142}</string>
            </dict>
            <key>zhanchang_2_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,589},{370,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{370,74}}</string>
                <key>sourceSize</key>
                <string>{372,74}</string>
            </dict>
            <key>zhanchang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,458},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameuiBase.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:148243d9369d6a3019570ed3430bfd76:f6729f06133be15ba8181d48b4f0f0c7:fa70468f368fc92fd3997a7dadb4ed03$</string>
            <key>textureFileName</key>
            <string>gameuiBase.png</string>
        </dict>
    </dict>
</plist>
