<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biandui_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,154},{60,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,322}}</string>
                <key>sourceSize</key>
                <string>{60,322}</string>
            </dict>
            <key>biandui_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,764}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,764}}</string>
                <key>sourceSize</key>
                <string>{60,764}</string>
            </dict>
            <key>duigou.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,893},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>duiwu1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,783},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>duiwu1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,903},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>duiwu2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,737},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>duiwu2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,861},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>duiwu3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,540},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>duiwu3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,903},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>duiwu4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,540},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>duiwu4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,861},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>duiwu5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,494},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>duiwu5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,432},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>fangxiang_daohang.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,671},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>fangxiang_daohang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,635},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>juedign.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,829},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>lianxiwomenzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,958},{60,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,444}}</string>
                <key>sourceSize</key>
                <string>{60,444}</string>
            </dict>
            <key>lv_zuida.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,586},{92,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,28}}</string>
                <key>sourceSize</key>
                <string>{94,30}</string>
            </dict>
            <key>pvp_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,958},{60,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,504}}</string>
                <key>sourceSize</key>
                <string>{60,504}</string>
            </dict>
            <key>qianghua_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,697},{60,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,402}}</string>
                <key>sourceSize</key>
                <string>{60,402}</string>
            </dict>
            <key>shiyongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,697},{76,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>shuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,893},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>shuxing_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,635},{60,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,500}}</string>
                <key>sourceSize</key>
                <string>{60,500}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,707},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>suo_xiyuanfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,626},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>suosou_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{60,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,248}}</string>
                <key>sourceSize</key>
                <string>{60,248}</string>
            </dict>
            <key>tongyubuzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,742},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,28}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>xiake_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,432},{60,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,122}}</string>
                <key>sourceSize</key>
                <string>{60,122}</string>
            </dict>
            <key>xingxing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,861},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>yuan_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,586},{38,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{38,78}</string>
            </dict>
            <key>zengsonghunpo_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,861},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>zhanchang_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,432},{524,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,60}}</string>
                <key>sourceSize</key>
                <string>{524,60}</string>
            </dict>
            <key>zhanchang_1_1_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,154},{524,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,60}}</string>
                <key>sourceSize</key>
                <string>{524,60}</string>
            </dict>
            <key>zhanchang_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,432},{524,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,46}}</string>
                <key>sourceSize</key>
                <string>{524,46}</string>
            </dict>
            <key>zhanchang_1_2_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,432},{524,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,46}}</string>
                <key>sourceSize</key>
                <string>{524,46}</string>
            </dict>
            <key>zhanchang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,78},{370,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{370,74}}</string>
                <key>sourceSize</key>
                <string>{372,74}</string>
            </dict>
            <key>zhanchang_2_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{580,742},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>zhanchang_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,626},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>zhanchang_2_2_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,626},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>zhanchang_2_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{370,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,74}}</string>
                <key>sourceSize</key>
                <string>{372,74}</string>
            </dict>
            <key>zhanchang_3_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,759},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>zhanchangshuxing_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,909},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>zhanchangshuxing_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,861},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>zhanchangshuxing_huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,910},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>zhanchangshuxing_mu.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,864},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>zhanchangshuxing_shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,818},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>zhanchangshuxing_za.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,772},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>zhanyi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,324},{296,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,106}}</string>
                <key>sourceSize</key>
                <string>{296,106}</string>
            </dict>
            <key>zhanyi_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,216},{296,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,106}}</string>
                <key>sourceSize</key>
                <string>{296,106}</string>
            </dict>
            <key>zhongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,707},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,28}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>zhuansheng_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,680},{60,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,222}}</string>
                <key>sourceSize</key>
                <string>{60,222}</string>
            </dict>
            <key>zhuansheng_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{570,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,569}}</string>
                <key>sourceSize</key>
                <string>{570,569}</string>
            </dict>
            <key>zschenggong_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,574}}</string>
                <key>sourceSize</key>
                <string>{60,574}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a3286f0682d983616c83d614790563b:85dfe4d45bc01001336bbf6b36a38d47:df30feb4bfc01f32b4ab2984936a3e81$</string>
            <key>textureFileName</key>
            <string>gameui.png</string>
        </dict>
    </dict>
</plist>
