<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duiwu_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,456},{60,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,506}}</string>
                <key>sourceSize</key>
                <string>{60,506}</string>
            </dict>
            <key>duiwu_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,456},{576,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,468}}</string>
                <key>sourceSize</key>
                <string>{576,468}</string>
            </dict>
            <key>duiwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,926},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>duiwurenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,964},{188,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,44}}</string>
                <key>sourceSize</key>
                <string>{188,44}</string>
            </dict>
            <key>hire10_sward1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,926},{69,102}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{69,102}}</string>
                <key>sourceSize</key>
                <string>{71,108}</string>
            </dict>
            <key>hire10_sward2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,926},{61,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{61,108}}</string>
                <key>sourceSize</key>
                <string>{71,108}</string>
            </dict>
            <key>hire10_sward3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,926},{65,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{65,118}}</string>
                <key>sourceSize</key>
                <string>{85,130}</string>
            </dict>
            <key>hire10_sward4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,170},{116,193}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{116,193}}</string>
                <key>sourceSize</key>
                <string>{130,197}</string>
            </dict>
            <key>hire10_sward5.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,480},{118,182}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{118,182}}</string>
                <key>sourceSize</key>
                <string>{138,208}</string>
            </dict>
            <key>hunpo.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,756},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,104}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>hunpo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{560,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,124}}</string>
                <key>sourceSize</key>
                <string>{560,124}</string>
            </dict>
            <key>hunpo_jingyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,64},{336,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,23}}</string>
                <key>sourceSize</key>
                <string>{336,23}</string>
            </dict>
            <key>jingliping.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,170},{308,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,184}}</string>
                <key>sourceSize</key>
                <string>{308,184}</string>
            </dict>
            <key>jingliping_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,288},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>kapai_8_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{616,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,452}}</string>
                <key>sourceSize</key>
                <string>{616,452}</string>
            </dict>
            <key>kuozhan_xiakezhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,756},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>tongyong_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{60,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,368}}</string>
                <key>sourceSize</key>
                <string>{60,368}</string>
            </dict>
            <key>vic_haoyoushangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,926},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{124,34}</string>
            </dict>
            <key>vic_jiantou_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>vic_tilizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,926},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>vic_weiwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,84},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>zcxq_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,120},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>zcxq_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,89},{324,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,79}}</string>
                <key>sourceSize</key>
                <string>{324,79}</string>
            </dict>
            <key>zhuanshegn_chuchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,600},{174,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,154}}</string>
                <key>sourceSize</key>
                <string>{174,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9a196100fd0e1fa39eed36105520dc4:f88d4269da3b5ec5b203d65f1b814866:9d6656a57feb8a21712497ff5460bf64$</string>
            <key>textureFileName</key>
            <string>gameui1.png</string>
        </dict>
    </dict>
</plist>
