<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10lian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,964}}</string>
                <key>sourceSize</key>
                <string>{640,964}</string>
            </dict>
            <key>huodong_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,580},{296,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,106}</string>
            </dict>
            <key>huodong_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{296,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,106}</string>
            </dict>
            <key>icon_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,878},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>neili_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,944},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,300},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>shilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,630},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>shouchongliangbei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,968},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>suosou_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{576,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,210}}</string>
                <key>sourceSize</key>
                <string>{576,210}</string>
            </dict>
            <key>suosou_1_3_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{488,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,60}}</string>
                <key>sourceSize</key>
                <string>{488,60}</string>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,740},{212,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,28}}</string>
                <key>sourceSize</key>
                <string>{212,28}</string>
            </dict>
            <key>tongbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,774},{212,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,28}}</string>
                <key>sourceSize</key>
                <string>{212,28}</string>
            </dict>
            <key>xiake.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,774},{212,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,28}}</string>
                <key>sourceSize</key>
                <string>{212,28}</string>
            </dict>
            <key>xiake15.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,740},{224,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,28}}</string>
                <key>sourceSize</key>
                <string>{224,28}</string>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,902},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>xiwei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,492},{132,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>yaoqingma.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,580},{376,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,66}}</string>
                <key>sourceSize</key>
                <string>{376,66}</string>
            </dict>
            <key>yicimianfeijihui.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,300},{184,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,28}}</string>
                <key>sourceSize</key>
                <string>{184,28}</string>
            </dict>
            <key>yinxiao_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,492},{280,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,32}}</string>
                <key>sourceSize</key>
                <string>{280,32}</string>
            </dict>
            <key>yuanjunjiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,580},{320,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,40}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>zhanghu_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{539,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,38}}</string>
                <key>sourceSize</key>
                <string>{539,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:239779cdf98c0a3178406f8f955ac85c:4ca95a860cd97c2d898fe953b54fa757:e4c95cf18ba1bc6dc34e73bdb101bb94$</string>
            <key>textureFileName</key>
            <string>gameui3.png</string>
        </dict>
    </dict>
</plist>
