<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10lian_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,468},{318,288}}</string>
                <key>offset</key>
                <string>{-21,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,92},{318,288}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>10lian_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,92},{322,374}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{322,374}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>10lian_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{346,380}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,380}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>10lian_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{360,358}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{360,358}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>chaochenggong_2bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,642},{206,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{206,26}}</string>
                <key>sourceSize</key>
                <string>{208,28}</string>
            </dict>
            <key>chaochenggong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{384,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{384,134}}</string>
                <key>sourceSize</key>
                <string>{386,134}</string>
            </dict>
            <key>chenggong-_1bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,388},{46,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>chenggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{274,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,30}}</string>
                <key>sourceSize</key>
                <string>{274,30}</string>
            </dict>
            <key>chenggong_guang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{450,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{450,194}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>chenggong_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,468},{254,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,134}}</string>
                <key>sourceSize</key>
                <string>{254,134}</string>
            </dict>
            <key>clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>dachenggong_15bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,710},{206,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{206,26}}</string>
                <key>sourceSize</key>
                <string>{208,28}</string>
            </dict>
            <key>dachenggong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{384,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{384,134}}</string>
                <key>sourceSize</key>
                <string>{386,134}</string>
            </dict>
            <key>huodexiake_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,642},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>iphone_tianchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>jiantou_xiake_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,972},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>star_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,454},{254,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,64}}</string>
                <key>sourceSize</key>
                <string>{254,64}</string>
            </dict>
            <key>star_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,388},{252,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{252,64}}</string>
                <key>sourceSize</key>
                <string>{254,64}</string>
            </dict>
            <key>star_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,724},{248,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{248,64}}</string>
                <key>sourceSize</key>
                <string>{254,64}</string>
            </dict>
            <key>star_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,454},{254,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,64}}</string>
                <key>sourceSize</key>
                <string>{254,64}</string>
            </dict>
            <key>star_title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,724},{252,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{252,62}}</string>
                <key>sourceSize</key>
                <string>{254,64}</string>
            </dict>
            <key>star_title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,710},{254,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{254,62}}</string>
                <key>sourceSize</key>
                <string>{254,64}</string>
            </dict>
            <key>xiwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,788},{308,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,184}}</string>
                <key>sourceSize</key>
                <string>{308,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d729ce2beeb0bb1b8be824719800002:c5f74de8f25bf8da4080538d9345b8e5:901f2ae1feb17467fd84e48658936d1c$</string>
            <key>textureFileName</key>
            <string>gameui2.png</string>
        </dict>
    </dict>
</plist>
