<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>kapai_8_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,226}}</string>
                <key>sourceSize</key>
                <string>{308,226}</string>
            </dict>
            <key>qiu1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{178,176}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{178,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{56,102}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{56,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{26,24}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,83},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{150,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,284},{138,138}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{138,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,154},{144,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{144,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,180},{142,136}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{142,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,284},{138,136}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{138,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,196},{130,128}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{130,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{122,120}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{122,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,154},{90,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{90,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qiu2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,424},{126,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{126,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,326},{128,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{128,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,230},{128,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{128,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,454},{126,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{126,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{128,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,452},{126,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{126,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,446},{126,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{126,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,324},{128,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{128,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,318},{128,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{128,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,196},{128,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{128,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,424},{126,126}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{126,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,358},{126,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{126,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>qiu2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{126,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{126,126}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameuiQiuAnim.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a20e9642f61022104d6c642bfe5420:3c570b055c0963ed6db1a3a0e2c50116:8bd184ed861c2e493beb7afb0eb49b22$</string>
            <key>textureFileName</key>
            <string>gameuiQiuAnim.png</string>
        </dict>
    </dict>
</plist>
