<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengwu/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>gongsunzhi/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>gongsunzhi/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>guangyutu/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>guojing/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>guojing/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>guojing/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>guojing/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>guoshuyuebing/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hebiweng/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hegujue/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>heimulingpai/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hezudao/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hongqigong/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hongqigong/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hongqigong/6_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hongshuifu/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huangmeiseng/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huangmeiseng/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huangrong/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huangrong/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huangrong/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huangrong/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huangyaoshi/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huangyaoshi/6_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huawuque/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huawuque/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hufei/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hufei/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hufu/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huoyutu/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hupo/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huqingniu/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huqingniu/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huyidao/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huyidao/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huyidao/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiangxiaoyu/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiangxiaoyu/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jinhuapopo/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jinhuapopo/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jinhuapopo/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jinlunfawang/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jinlunfawang/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jinlunfawang/6_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jinshejianfa/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiqidan/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiumozhi/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiumozhi/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiumozhi/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiuyangtianshu/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jiuyinzhenjing/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jueyuandashi/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jueyuandashi/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>kasili/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>kasili/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>kezhene/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>kuihuabaodian/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>kurongdashi/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lanfenghuang/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lanfenghuang/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>laotouzi/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>leihuojue/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lengqian/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,284},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lianrongyuebing/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>liehuofu/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>limochou/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>limochou/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linchaoying/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linchaoying/6_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linghuchong/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linghuchong/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linghuchong/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linghuchong/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lingshenjue/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,378},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lingshuanghua/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lingshuanghua/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lingtuisi/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lingtuisi/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lingzhishangren/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lingzhishangren/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linpingzhi/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linpingzhi/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linyuantu/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,472},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>linyuantu/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>liqinglu/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>liqinglu/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>liqiushui/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>liqiushui/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>liujinlingpai/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>liumaishenjian/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,566},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lixunhuan/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lixunhuan/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>longxiangbanruogong/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>longyou/5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luchengfeng/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,660},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luchengfeng/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>lujiaolingzhi/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>luzhangke/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,754},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>maluzhenrong/4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,848},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:268fffd41eb49b2255318aa4d2c614ff:f39fdaed39b1edc90be7b4795b211286:36ea0a664862693ce660bda63d703b7c$</string>
            <key>textureFileName</key>
            <string>icons2.png</string>
        </dict>
    </dict>
</plist>
