<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beihaishi/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{86,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>bibochun/1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>chengkun/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{88,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>danqingsheng/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{84,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>guanchai/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hezudao/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{88,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hufei/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,378},{84,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hunpozong/1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{90,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jingxizong/1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,94},{90,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>jingyanzong/1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,186},{90,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>mengwuzong/1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,278},{90,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>murongfu/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,284},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qiaofeng/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,92},{88,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qigai/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,94},{90,84}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>tongqianzong/1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,186},{90,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>xiakezong/1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,278},{90,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>xiaxueyi/3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,378},{88,90}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>yuelingshan/2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>zhuanshengzong/1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,370},{90,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a864d8d488f408807eb66770b415c300:231c5301452584f1a07dd3b2abf222f6:36ea0a664862693ce660bda63d703b7c$</string>
            <key>textureFileName</key>
            <string>icons4.png</string>
        </dict>
    </dict>
</plist>
