<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_cd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,608},{100,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{100,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>pvp_cd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,302},{152,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{152,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>pvp_cd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,456},{150,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{150,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>pvp_dashboard_ours.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,302},{640,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,82}}</string>
                <key>sourceSize</key>
                <string>{640,82}</string>
            </dict>
            <key>pvp_dashboard_theirs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{640,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,82}}</string>
                <key>sourceSize</key>
                <string>{640,82}</string>
            </dict>
            <key>pvp_firsthand_ours.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{448,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{448,148}}</string>
                <key>sourceSize</key>
                <string>{448,150}</string>
            </dict>
            <key>pvp_firsthand_theirs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{448,148}}</string>
                <key>sourceSize</key>
                <string>{448,150}</string>
            </dict>
            <key>pvp_health_box_ours.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,302},{640,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,30}}</string>
                <key>sourceSize</key>
                <string>{640,30}</string>
            </dict>
            <key>pvp_health_fill_theirs.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{586,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,15}}</string>
                <key>sourceSize</key>
                <string>{586,15}</string>
            </dict>
            <key>pvp_healthbox_theirs.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{640,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,30}}</string>
                <key>sourceSize</key>
                <string>{640,30}</string>
            </dict>
            <key>pvp_hourglass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>pvp_hourglass_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,754},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>pvp_hourglass_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,644},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>pvp_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,710},{148,170}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{148,170}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>pvp_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,860},{160,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{160,168}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1171e1daf45ab43f6e596900564d2188:55e8a56eaed8a17d19c09ec8841bfb26:a3302bff4d8f751939fa6b134436a1af$</string>
            <key>textureFileName</key>
            <string>pvp.png</string>
        </dict>
    </dict>
</plist>
