<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>broken_shield_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,786},{90,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,36},{90,100}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>broken_shield_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,662},{94,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{94,108}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>broken_shield_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,744},{104,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{104,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>broken_shield_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{116,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{116,132}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>broken_shield_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,878},{142,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{142,158}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>broken_shield_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,786},{152,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{152,166}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>chain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,627},{115,92}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,92}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>chain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,627},{115,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{115,96}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>chain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,786},{111,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{111,90}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>chain_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,954},{113,64}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,49},{113,64}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>expl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,627},{138,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{138,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>expl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,878},{144,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>expl_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,878},{144,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,118}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>fadong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,878},{106,104}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,45},{106,104}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>fadong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,452},{106,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,42},{106,108}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>fuze_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,230},{130,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{130,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fuze_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,230},{128,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{128,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fuze_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,230},{128,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{128,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fuze_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,230},{130,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{130,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>reborn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{263,292}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{263,292}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,366},{209,292}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{209,292}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,577},{207,292}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{207,292}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{263,176}}</string>
                <key>offset</key>
                <string>{-16,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,116},{263,176}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,746},{263,176}}</string>
                <key>offset</key>
                <string>{-16,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,116},{263,176}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{313,180}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{313,180}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,184},{313,180}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{313,180}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{313,226}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{313,226}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{313,226}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{313,226}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,362},{263,292}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{263,292}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,758},{106,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{106,118}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>wenyi_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{88,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>wenyi_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,92},{88,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>wenyi_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,182},{88,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>wenyi_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,272},{88,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>wenyi_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,362},{88,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>wenyiguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,560},{108,100}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{108,100}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>zhang_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{84,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhang_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,366},{84,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhang_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,366},{84,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755db6fe1b5cfbb46c5e713f06fff87a:dc3d3dbe9ce153f7559bc2b039f2ac47:1e5b2698aa2c9286c3cbc1959cc54d38$</string>
            <key>textureFileName</key>
            <string>skill0.png</string>
        </dict>
    </dict>
</plist>
