<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,674},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>bomb_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,876},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>bomb_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,762},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>bomb_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,672},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>bomb_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,672},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>bomb_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,758},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>broken_shield_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,298},{124,140}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{124,140}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>broken_shield_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,160},{136,150}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{136,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>broken_shield_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{156,164}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{156,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>chain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,686},{113,88}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{113,88}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>chain_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{111,80}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{111,80}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>expl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,196},{142,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>expl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,196},{142,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>expl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{146,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>expl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,316},{136,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>expl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,424},{136,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>expl_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,196},{142,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,118}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>fadong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,192}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>fadong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,192}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>fadong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{228,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,192}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>fadong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,196},{106,100}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,48},{106,100}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>fadong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,776},{98,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{98,98}}</string>
                <key>sourceSize</key>
                <string>{228,192}</string>
            </dict>
            <key>feibiao_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,570},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>feibiao_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,572},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>feibiao_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>feibiao_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,558},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>feibiao_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,672},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>feibiao_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,678},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>fuze_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,298},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{128,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fuze_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,312},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{128,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fuze_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,428},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{128,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fuze_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,442},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{128,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fuze_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{128,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fuze_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,318},{128,126}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{128,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>reborn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{153,158}}</string>
                <key>offset</key>
                <string>{-13,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,121},{153,158}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>reborn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,157},{153,158}}</string>
                <key>offset</key>
                <string>{-13,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,121},{153,158}}</string>
                <key>sourceSize</key>
                <string>{313,292}</string>
            </dict>
            <key>shield_dark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,896},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>shield_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,794},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>shield_health_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,896},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>shield_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,564},{112,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,124}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>shield_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,788},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>shield_water_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,674},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>shield_wood_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,890},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>wenyi_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,558},{88,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>wenyiguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{106,100}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,100}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>wenyiguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,688},{112,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{112,98}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>wenyiguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,874},{104,98}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{104,98}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>wenyiguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,862},{100,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{100,98}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>wenyiguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,874},{102,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{102,100}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>wenyiguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,572},{100,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{100,98}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>wenyiguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,794},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{100,96}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>wenyiguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,896},{100,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{100,94}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>zhang_bg_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,318},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{124,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>zhang_bg_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,438},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{124,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>zhang_bg_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,444},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{124,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>zhang_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,446},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{124,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>zhang_bg_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{124,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>zhang_bg_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,546},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{124,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>zhang_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,776},{84,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhang_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,788},{84,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhang_health.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{84,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755db6fe1b5cfbb46c5e713f06fff87a:dc3d3dbe9ce153f7559bc2b039f2ac47:1e5b2698aa2c9286c3cbc1959cc54d38$</string>
            <key>textureFileName</key>
            <string>skill1.png</string>
        </dict>
    </dict>
</plist>
