<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bracket_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,166},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>direnxiake.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{106,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,34}}</string>
                <key>sourceSize</key>
                <string>{106,34}</string>
            </dict>
            <key>shuxingxiangke.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,122}}</string>
                <key>sourceSize</key>
                <string>{60,122}</string>
            </dict>
            <key>touch_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>wofanghp_xiangxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{48,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,109}}</string>
                <key>sourceSize</key>
                <string>{48,109}</string>
            </dict>
            <key>wofangxiake.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,130},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,34}}</string>
                <key>sourceSize</key>
                <string>{106,34}</string>
            </dict>
            <key>xinshou_shouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,52},{76,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,106}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>xinshou_shouzhi_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,130},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>yindao_caidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,268},{85,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,48}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>yindao_diaoluoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{102,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,60}}</string>
                <key>sourceSize</key>
                <string>{102,60}</string>
            </dict>
            <key>zhiyuanxiake.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{104,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,34}}</string>
                <key>sourceSize</key>
                <string>{106,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorialMisc.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6324edbddf692e025f4b04270f60217c:0360cad7d18c0789377418e6996e8269:b17eb2a9efdf64a4843b5e24a048be41$</string>
            <key>textureFileName</key>
            <string>tutorialMisc.png</string>
        </dict>
    </dict>
</plist>
