<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>群侠转</string>
	<key>CFBundleExecutable</key>
	<string>PuzzleHero</string>
	<key>CFBundleIconFile</key>
	<string>icon_57_apst.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon_57_apst.png</string>
		<string>icon_114_apst.png</string>
		<string>icon_72_apst.png</string>
		<string>icon_144_apst.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_57_apst.png</string>
				<string>icon_114_apst.png</string>
				<string>icon_120_apst.png</string>
				<string>icon_72_apst.png</string>
				<string>icon_76_apst.png</string>
				<string>icon_144_apst.png</string>
				<string>icon_152_apst.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.stl.puzzlehero.appl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PuzzleHero</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sina</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sinaweibosso.904452950</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx690a67826c7dc08d</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.6</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>ttf/FZPangWa-M18S.ttf</string>
		<string>ttf/DFPSumo-W12.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
